In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df1=pd.read_csv("D:/DS ML&AI/Capstone3/env/Scripts/cleaned.csv")
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,...,improvement_surcharge,total_amount,trip_distance,tpep_pickup_datetime_edt,pickup_day,AM/PM,is_night,tpep_dropoff_datetime_edt,trip_duration,pickup_hour
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,-73.976746,40.765152,1,N,-74.004265,40.746128,...,0.3,12.35,3.138096,2016-02-29 19:00:00-05:00,Weekday,PM,0,2016-02-29 19:07:55-05:00,7.916667,19
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,-73.983482,40.767925,1,N,-74.005943,40.733166,...,0.3,15.35,4.303331,2016-02-29 19:00:00-05:00,Weekday,PM,0,2016-02-29 19:11:06-05:00,11.100000,19
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,-73.782021,40.644810,1,N,-73.974541,40.675770,...,0.3,63.80,7.125038,2016-02-29 19:00:00-05:00,Weekday,PM,0,2016-02-29 19:31:06-05:00,31.100000,19
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,-73.863419,40.769814,1,N,-73.969650,40.757767,...,0.3,41.62,7.125038,2016-02-29 19:00:00-05:00,Weekday,PM,0,2016-02-29 19:00:00-05:00,0.000000,19
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,-73.971741,40.792183,3,N,-74.177170,40.695053,...,0.3,113.80,7.125038,2016-02-29 19:00:00-05:00,Weekday,PM,0,2016-02-29 19:00:00-05:00,0.000000,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211692,2,2016-03-01 12:15:37,2016-03-01 12:38:53,1,-73.955688,40.782261,1,N,-73.974915,40.751282,...,0.3,20.16,3.806279,2016-03-01 07:15:37-05:00,Weekday,AM,0,2016-03-01 07:38:53-05:00,23.266667,7
211693,2,2016-03-01 12:15:37,2016-03-01 12:38:22,1,-74.002197,40.715042,1,N,-73.976295,40.739609,...,0.3,18.30,3.496576,2016-03-01 07:15:37-05:00,Weekday,AM,0,2016-03-01 07:38:22-05:00,22.750000,7
211694,2,2016-03-01 12:15:37,2016-03-01 12:18:18,1,-73.991173,40.733170,1,N,-73.994324,40.728531,...,0.3,4.80,0.580119,2016-03-01 07:15:37-05:00,Weekday,AM,0,2016-03-01 07:18:18-05:00,2.683333,7
211695,1,2016-03-01 12:15:38,2016-03-01 12:22:47,2,-73.972099,40.786446,1,N,-73.955872,40.779755,...,0.3,7.80,1.555737,2016-03-01 07:15:38-05:00,Weekday,AM,0,2016-03-01 07:22:47-05:00,7.150000,7
211696,1,2016-03-01 12:15:38,2016-03-01 12:34:59,1,-73.988770,40.712662,1,N,-73.944550,40.782276,...,0.3,21.30,7.125038,2016-03-01 07:15:38-05:00,Weekday,AM,0,2016-03-01 07:34:59-05:00,19.350000,7

In [4]:
df1.select_dtypes(include=['object']).columns

Index(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'store_and_fwd_flag',
       'tpep_pickup_datetime_edt', 'pickup_day', 'AM/PM',
       'tpep_dropoff_datetime_edt'],
      dtype='object')

In [5]:
cat_columns=['store_and_fwd_flag','pickup_day','AM/PM']

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
#OneHotEncoder for categirical columns
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

ohe_col = ohe.fit_transform(df1[cat_columns])

ohe_df = pd.DataFrame(ohe_col, columns=ohe.get_feature_names_out(cat_columns))
ohe_df = ohe_df.astype(int)

df2=pd.concat([df1.drop(columns=cat_columns), ohe_df], axis=1)

In [8]:
df2['tpep_pickup_datetime'] = pd.to_datetime(df2['tpep_pickup_datetime'])
df2['tpep_dropoff_datetime'] = pd.to_datetime(df2['tpep_dropoff_datetime'])

In [9]:
df2['tpep_pickup_datetime_utc'] = df2['tpep_pickup_datetime'].dt.tz_localize('UTC')
df2['tpep_pickup_datetime_edt'] = df2['tpep_pickup_datetime_utc'].dt.tz_convert('US/Eastern')
df2['tpep_dropoff_datetime_utc'] = df2['tpep_dropoff_datetime'].dt.tz_localize('UTC')
df2['tpep_dropoff_datetime_edt'] = df2['tpep_dropoff_datetime_utc'].dt.tz_convert('US/Eastern')

In [10]:
df2=df2.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'tpep_pickup_datetime_utc' ,'tpep_pickup_datetime_edt', 'tpep_dropoff_datetime_utc', 'tpep_dropoff_datetime_edt'])

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211697 entries, 0 to 211696
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               211697 non-null  int64
 1   passenger_count        211697 non-null  int64
 2   pickup_longitude       211697 non-null  float64
 3   pickup_latitude        211697 non-null  float64
 4   RatecodeID             211697 non-null  int64
 5   dropoff_longitude      211697 non-null  float64
 6   dropoff_latitude       211697 non-null  float64
 7   payment_type           211697 non-null  int64
 8   fare_amount            211697 non-null  float64
 9   extra                  211697 non-null  float64
 10  mta_tax                211697 non-null  float64
 11  tip_amount             211697 non-null  float64
 12  tolls_amount           211697 non-null  float64
 13  improvement_surcharge  211697 non-null  float64
 14  total_amount           211697 non-null  float64
 15  trip_distance          211697 non-null  float64
 16  is_night               211697 non-null  int64
 17  trip_duration          211697 non-null  float64
 18  pickup_hour            211697 non-null  int64
 19  store_and_fwd_flag_N   211697 non-null  int64
 20  store_and_fwd_flag_Y   211697 non-null  int64
 21  pickup_day_Weekday     211697 non-null  int64
 22  AM/PM_AM               211697 non-null  int64
 23  AM/PM_PM               211697 non-null  int64
dtypes: float64(13), int64(11)
memory usage: 38.8 MB

In [23]:
df2.columns

Index(['VendorID', 'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'RatecodeID', 'dropoff_longitude', 'dropoff_latitude', 'payment_type',
       'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'trip_distance', 'is_night',
       'trip_duration', 'pickup_hour', 'store_and_fwd_flag_N',
       'store_and_fwd_flag_Y', 'pickup_day_Weekday', 'AM/PM_AM', 'AM/PM_PM'],
      dtype='object')

In [12]:
#feature selection with threshhold variance
from sklearn.feature_selection import VarianceThreshold

In [22]:
X = df2.drop(columns=['total_amount'])
y = df2['total_amount']

vt=VarianceThreshold(threshold=0.5)
X_new=vt.fit_transform(X)


sel_col=vt.get_feature_names_out()

X_new=pd.DataFrame(X_new,columns=sel_col)

#X_new


feature_importance_df = pd.DataFrame({
    'Feature': X.columns,
    'Importance': vt.variances_
    })

# Sort by importance in descending order
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)


feature_importance_df

                  Feature  Importance
8             fare_amount  113.456695
16          trip_duration   80.358487
5       dropoff_longitude   55.121425
2        pickup_longitude   55.119849
17            pickup_hour   23.748712
3         pickup_latitude   16.720453
6        dropoff_latitude   16.720035
11             tip_amount    6.269913
14          trip_distance    4.209194
12           tolls_amount    4.115217
1         passenger_count    2.161914
15               is_night    0.233974
7            payment_type    0.226352
0                VendorID    0.206260
22               AM/PM_PM    0.075946
21               AM/PM_AM    0.075946
4              RatecodeID    0.058872
9                   extra    0.021808
18   store_and_fwd_flag_N    0.003038
19   store_and_fwd_flag_Y    0.003038
10                mta_tax    0.000873
13  improvement_surcharge    0.000014
20     pickup_day_Weekday    0.000000

In [24]:
feature_importance_df =feature_importance_df.reset_index(drop=True) 
feature_importance_df

                  Feature  Importance
0             fare_amount  113.456695
1           trip_duration   80.358487
2       dropoff_longitude   55.121425
3        pickup_longitude   55.119849
4             pickup_hour   23.748712
5         pickup_latitude   16.720453
6        dropoff_latitude   16.720035
7              tip_amount    6.269913
8           trip_distance    4.209194
9            tolls_amount    4.115217
10        passenger_count    2.161914
11               is_night    0.233974
12           payment_type    0.226352
13               VendorID    0.206260
14               AM/PM_PM    0.075946
15               AM/PM_AM    0.075946
16             RatecodeID    0.058872
17                  extra    0.021808
18   store_and_fwd_flag_N    0.003038
19   store_and_fwd_flag_Y    0.003038
20                mta_tax    0.000873
21  improvement_surcharge    0.000014
22     pickup_day_Weekday    0.000000

In [33]:
#feature selection with RFE

# from sklearn.feature_selection import RFE
# from sklearn.linear_model import LinearRegression

# X = df2.drop(columns=['total_amount'])
# y = df2['total_amount']

# estimator=LinearRegression()
# rfe=RFE(estimator,n_features_to_select=10,step=1)
# X_new=rfe.fit_transform(X,y)
#             # sel_col=rfe.get_feature_names_out()
            
#             # sel_col

# feature_importance_df = pd.DataFrame({
#     'Feature': X.columns,
#     'Importance': rfe.ranking_
# })

# # Sort by importance in descending order
# feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=True)


# feature_importance_df

                  Feature  Importance
11             tip_amount           1
3         pickup_latitude           1
4              RatecodeID           1
6        dropoff_latitude           1
7            payment_type           1
8             fare_amount           1
9                   extra           1
10                mta_tax           1
13  improvement_surcharge           1
12           tolls_amount           1
5       dropoff_longitude           2
2        pickup_longitude           3
14          trip_distance           4
22               AM/PM_PM           5
0                VendorID           6
21               AM/PM_AM           7
15               is_night           8
18   store_and_fwd_flag_N           9
1         passenger_count          10
19   store_and_fwd_flag_Y          11
16          trip_duration          12
17            pickup_hour          13
20     pickup_day_Weekday          14

In [31]:
# #feature selection using SFS

# from sklearn.feature_selection import SequentialFeatureSelector
# from sklearn.linear_model import LinearRegression

# X = df2.drop(columns=['total_amount'])
# y = df2['total_amount']

# estimator=LinearRegression()
# sfs=SequentialFeatureSelector(estimator,n_features_to_select=10)
# X_new=sfs.fit_transform(X,y)
# sel_col=sfs.get_feature_names_out()

# sel_col

array(['VendorID', 'passenger_count', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'store_and_fwd_flag_N'], dtype=object)

In [28]:
sfs.feature_names_in_

array(['VendorID', 'passenger_count', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'dropoff_longitude',
       'dropoff_latitude', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'trip_distance', 'is_night', 'trip_duration', 'pickup_hour',
       'store_and_fwd_flag_N', 'store_and_fwd_flag_Y',
       'pickup_day_Weekday', 'AM/PM_AM', 'AM/PM_PM'], dtype=object)

In [29]:
sfs.get_support()

array([ True,  True, False, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
        True, False, False, False, False])

In [41]:
X_new.shape

(211697, 11)

In [16]:
X_new.columns

Index(['passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'fare_amount', 'tip_amount',
       'tolls_amount', 'trip_distance', 'trip_duration', 'pickup_hour'],
      dtype='object')

In [26]:
feature_importance_df['Feature'][:12].tolist()

['fare_amount',
 'trip_duration',
 'dropoff_longitude',
 'pickup_longitude',
 'pickup_hour',
 'pickup_latitude',
 'dropoff_latitude',
 'tip_amount',
 'trip_distance',
 'tolls_amount',
 'passenger_count',
 'is_night']

In [31]:
top_var=['fare_amount',
 'trip_duration',
  'pickup_hour',
  'tip_amount',
 'trip_distance',
 'tolls_amount',
 'passenger_count',
 'is_night','total_amount']

In [32]:
preprosessed=df2[top_var]
preprosessed

,fare_amount,trip_duration,pickup_hour,tip_amount,trip_distance,tolls_amount,passenger_count,is_night,total_amount
0,9.0,7.916667,19,2.05,3.138096,0.00,1,0,12.35
1,11.0,11.100000,19,3.05,4.303331,0.00,1,0,15.35
2,54.5,31.100000,19,8.00,7.125038,0.00,2,0,63.80
3,31.5,0.000000,19,3.78,7.125038,5.54,3,0,41.62
4,98.0,0.000000,19,0.00,7.125038,15.50,5,0,113.80
...,...,...,...,...,...,...,...,...,...
211692,16.0,23.266667,7,3.36,3.806279,0.00,1,0,20.16
211693,15.5,22.750000,7,2.00,3.496576,0.00,1,0,18.30
211694,4.0,2.683333,7,0.00,0.580119,0.00,1,0,4.80
211695,7.0,7.150000,7,0.00,1.555737,0.00,2,0,7.80
211696,20.5,19.350000,7,0.00,7.125038,0.00,1,0,21.30

In [33]:
preprosessed.to_csv('preProcessed.csv',index=False)